
<div class="container">
    <p> <span>←</span> Back to Appointments</p>
    <h3>New Appointment</h3><br>
    <form action="" id="appointment_form">
    <h4>Veterinarain Details</h4>
    <h5>Veterinarain</h5><i class="bi bi-search"></i>
    <hr>
    <h4>Patient Details</h4>
   <h5>Pet Name</h5><i class="bi bi-search"></i>
    <hr>
    <h4>Other Details</h4>
    <h5>Pet's Issues</h5><hr>

    <label for="message">Reason for visit</label><br>
    <textarea rows="4" cols="50" name="comment" form="usrform"></textarea><br>
    <input type="button" value="cancel" class="cancel">
    <input type="submit" value="Book Appointment" class="book Appointment">
    </form>
</div>
